@font-face {
  font-family: lobster;
  src: url("../form/Lobster 1.4.otf");
}

@font-face {
  font-family: gobold;
  src: url("../form/Gobold Thin.ttf");
}

@font-face {
  font-family: arial;
  src: url("../form/Arial.ttf");
}
