@import "../less/fonts";
@import "../../node_modules/bootstrap/less/variables";

h1, h2 {
  font-family: gobold, sans-serif;
  text-transform: uppercase;
}

h1  {
  margin: 60px 0;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
}

.lobster {
  font-family: lobster, sans-serif;
  text-transform: lowercase;
}

section {
  footer {
    min-height: 120px;
    background: url(../assets/img/background.jpg) no-repeat center center;
    background-size: cover;
  }
}

@media (max-width: @screen-xs-max) {
  h1 {
    font-size: floor((@font-size-base * 2.2));
  }

  h2 {
    font-size: floor((@font-size-base * 1.2));
  }
}
