@import "../../../node_modules/bootstrap/less/bootstrap";
@import "../../../node_modules/bootstrap/less/variables";
@import "colors";

/* Bootstrap override */
@font-size-h1: floor((@font-size-base * 3.2));
@font-size-h2: floor((@font-size-base * 1.5));
@body-bg: @black;
@text-color: white;
@brand-primary: @black;
@brand-success: @green;
@input-bg: @black;
@btn-primary-border: @grey-light;
@grid-gutter-width: 16px;
@padding-base-vertical: 3px;
@padding-base-horizontal: 8px;
@padding-large-vertical: 14px;
@padding-large-horizontal: 20px;
@input-border-focus: white;

@import "override";