@import "colors";

::-webkit-input-placeholder {
  color: @grey-dark !important;
  opacity: 1 !important;
}

:-moz-placeholder {
  color: @grey-dark !important;
}

::-moz-placeholder {
  color: @grey-dark !important;
}

:-ms-input-placeholder {
  color: @grey-dark !important;
}
